<!-- Full Height Modal Right -->
<div class="modal" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

    <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
    <div class="modal-dialog modal-full-height modal-right" role="document">

        <div class="modal-content">
            <div class="modal-header"  style="background-color: #ac2919; color: white;">
                <div class="container">
                    <h4 class="modal-title w-100" id="myModalLabel">Customer Service 24/7</h4>
                    <p></p>
                    <div class="col-md-2">
                        HELLO
                    </div>
                    <div class="col-md-8">
                        Tiqets Customer Service is available 24/7 in English. Other languages depend on availability.
                    </div>
                </div>
                <button type="button" style="color: white; width: 40px;" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <br>
            </div>
            <div class="modal-body">
               <span>
                   Contact US any time but not night
               </span>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-outline-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Full Height Modal Right -->
