{% extends 'shop/generic_base.html' %}
{% block safe %}
    <div class="container-fluid">
        <div class="row">
            <div class="wrapper col-md-6" style="border-color: red; border-style: double; margin:80px;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam, commodi consequuntur
                distinctio dolor, doloremque fuga ipsa iusto laborum minus modi, quaerat rem repellat sapiente soluta
                suscipit totam vel velit!
            </div>
        </div>
    </div>
    <style>
    .container {
        margin-left: 200px;
        margin-right: 200px;
    }

    </style>
{% endblock %}

