<navigation>
    <ul class="nav nav-pills justify-content-center" style="display: flex; align-items: baseline; font-size: 12px;">
        <li class="nav-item">
            <a class="nav-link" href="#">NEW FOR YOU</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">FIND EVENTS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">HALLOWEEN</a>
        </li>
    </ul>
</navigation>


<style type="text/css" scoped>
    .firstNav {
        display: flex;
        flex-flow: row wrap;
        background: #C1F5EC;
        justify-content: space-around;

    }

    .nav-link {
        font-family: Cardo;
        color: #008b8b;
    }
    .nav-link:hover{
        transition-delay: 100ms;
        color: #006060;
        font-weight: 600;
        opacity: 1;
        animation-name: fadeInOpacity;
    }
</style>