<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>understands</title>
</head>
<body>


<div role="main" id="maincontent">
    <div>
        <div class="select-tickets-screen co-container">
            <div class="">
                <div>
                    <div class="co-section co-event"><h2 class="co-event-title">California's Great America</h2>
                        <div class="co-event-detail-wrapper">
                            <div class="co-event-image"
                                 style="background-image: url(&quot;https://i.gse.io/gse_media/118/3/1523563123-Californias-Great-America-tickets-.jpg?h=191&amp;p=1&amp;q=70&amp;w=340&amp;c=1&quot;);"></div>
                            <div class="co-event-details">
                                <div class="co-event-location">California's Great America (Santa Clara, CA)</div>
                                <div class="co-show-date">Any Regular Operating Day Through October 28, 2018</div>
                                <div class="co-event-details-secondary">
                                    <div class="co-event-fulfillment"><strong>Voucher:</strong> Your eticket will be
                                        emailed to you.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="co-section co-section-quantity">
                        <div class="co-inventory-table-wrapper">
                            <table class="co-select-tickets co-inventory">
                                <thead>
                                <tr class="sr-only">
                                    <th>Offer &amp; Price</th>
                                    <th>Quantity</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="co-offer" id="offer-2358177">
                                    <td class="co-offer-details">
                                        <div class="co-offer-name">Single Day Ticket</div>
                                        <div class="co-offer-price"><span class="co-our-price">$31.00</span> <span
                                                class="co-full-price">$71.00</span></div>
                                        <div class="co-offer-extras"><span
                                                class="co-price-details">$4.00 service fee</span><span>1-6 tickets available</span>
                                        </div>
                                    </td>
                                    <td class="co-offer-qty editable">
                                        <div class="stepper">
                                            <button data-target-is-button="true" disabled=""
                                                    class="button-decrease-quantity"
                                                    aria-label="decrease ticket quantity"><i class="icon-minus"
                                                                                             data-target-is-button="true"></i>
                                            </button>
                                            <div class="selected-quantity" aria-live="polite">0</div>
                                            <button data-target-is-button="true" class="button-increase-quantity"
                                                    aria-label="increase ticket quantity"><i class="icon-plus active"
                                                                                             data-target-is-button="true"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="co-button-bar co-button-bar-children-1">
                        <div class="co-button-bar-inner">
                            <button type="submit" disabled="" class="button checkout-button button-default large"
                                    id="begin-checkout-button">Select Tickets to Continue
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>